/* ------------------- */
/* Custom properties   */
/* ------------------- */
:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-condensed: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;

  /* font-sizes */
  --fs-900: 5rem;
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1.25rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 0.875rem;
  --fs-200: 0.875rem;

  /* letter-spacing */
  --ls-500: 0.169rem;
  --ls-300: 0.147rem;
  --ls-200: 0.147rem;

  /* line-height */
  --lh-400: 1.56rem;

  /* decoration-line */
  --decoration-line: hsl(var(--clr-white) / 0.25);
}

/* ------------------- */
/* resets              */
/* ------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
  font-weight: 400; /* as in the fig file no bold for even headings */
}

body,
#root {
  min-height: 100vh;
  width: 100%;
  line-height: var(--lh-400, 1.5); /* more readable than the default 1.2 */
  font-family: var(--ff-sans-normal); /* the paragraph text */
  font-size: var(--fs-400);
  /* background-color: hsl(var(--clr-dark)); */
  color: hsl(var(--clr-light));
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
  border: 0;
  background-color: transparent;
}

/* accessibility */
.sr-only {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  /* clip: rect(0, 0, 0, 0); */
  clip-path: inset(0, 0, 0, 0); /* newer property suggested on MDN */
  white-space: nowrap; /* added line */
  border: 0;
}

.skip-to-content-btn {
  position: absolute;
  height: 5rem;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  transition: transform 500ms ease-in;
  background-color: hsl(var(--clr-light));
  z-index: 10000;
}

.skip-to-content-btn:focus {
  transform: translateY(0);
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes    */
/* ------------------- */

/* general */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

@supports (not (gap: var(--gap, 1rem))) and (flex-direction: column) {
  .flex > *:where(:not(:first-child)) {
    margin-top: var(--gap, 1rem);
  }
}

@supports (not (gap: var(--gap, 1rem))) and (flex-direction: row) {
  .flex > *:where(:not(:first-child)) {
    margin-left: var(--gap, 1rem);
  }
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.wrapper {
  /* prevent content from touching the edges */
  padding: 0 1.5rem;
}

.grid-container {
  display: grid;
  place-items: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  padding-block: max(7rem, 10vh) 4.5rem;
  padding-inline: 1.5rem;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  gap: 2rem;
}

@supports (not (padding-inline: 1.5rem)) and
  (not (padding-block: max(7rem, 10vh) 4.5rem)) {
  .grid-container {
    padding: max(7rem, 10vh) 1.5rem 4.5rem 1.5rem;
  }
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.text-tab:hover,
.text-tab:focus,
.nav-link:hover,
.nav-link:focus {
  cursor: pointer;
  border-bottom: 3px solid hsl(var(--clr-white) / 0.5);
}

.text-tab.active,
.nav-link.active {
  border-bottom: 3px solid hsl(var(--clr-white));
}

article,
.tablist {
  width: 100%;
}

article,
.destination-image,
.crew-image,
.technology-image {
  display: none;
}

article.active,
.destination-image.active,
.crew-image.active,
.text-tab.active,
.technology-image.active {
  display: inherit;
}

article > header {
  flex-direction: column;
  --gap: 0.5rem;
}

.nav-link,
.text-tab {
  padding-bottom: 0.5rem;
  border-bottom: 3px solid transparent;
}

/* colors */

.bg-dark {
  background-color: hsl(var(--clr-dark));
}
.bg-light {
  background-color: hsl(var(--clr-light));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}
.text-light {
  color: hsl(var(--clr-light));
}
.text-white {
  color: hsl(var(--clr-white));
}

/* typography */

.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans-condensed {
  font-family: var(--ff-sans-condensed);
}
.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.ls-500 {
  letter-spacing: var(--ls-500);
}
.ls-300 {
  letter-spacing: var(--ls-300);
}
.ls-200 {
  letter-spacing: var(--ls-200);
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.numbered-title span {
  margin-right: 0.5em;
  font-weight: 700;
  color: hsl(var(--clr-white) / 0.25);
}

.home-title span,
h2 {
  line-height: 1;
}

article > p {
  height: 20ex;
}

.tablist {
  justify-content: center;
}

/* --------------------------- */
/* Components Specific  */
/* --------------------------- */

/* navigation section */
.top-section {
  width: 100%;
  height: 6rem;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 1.5rem;
  z-index: 1000;
}

.logo {
  width: 2.5rem;
  padding-top: 1.75rem;
}

.navbar {
  background-color: hsl(var(--clr-dark) / 0.95);
}

@supports (backdrop-filter: blur(1.5rem)) {
  .navbar {
    background-color: hsl(var(--clr-white) / 0.04);
    backdrop-filter: blur(1.5rem)
      drop-shadow(-2rem 0 0.5rem hsl(var(--clr-dark)));
  }
}

@supports (-webkit-backdrop-filter: blur(1.5rem)) {
  .navbar {
    background-color: hsl(var(--clr-white) / 0.04);
    -webkit-backdrop-filter: blur(1.5rem)
      drop-shadow(-2rem 0 0.5rem hsl(var(--clr-dark)));
    backdrop-filter: blur(1.5rem)
      drop-shadow(-2rem 0 0.5rem hsl(var(--clr-dark)));
  }
}

@media (max-width: 35em) {
  .nav-btn {
    position: fixed;
    top: 2.25rem;
    right: 1.5rem;
    background: url("images/shared/icon-hamburger.svg");
    width: 1.5rem;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-position: center;
  }

  @supports not (aspect-ratio: 1) {
    .nav-btn {
      height: 1.5rem;
    }
  }

  .nav-btn:hover,
  .nav-btn:focus {
    cursor: pointer;
  }

  .nav-btn.active {
    background: url("images/shared/icon-close.svg");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1000;
  }

  .navbar {
    position: relative;
    flex-direction: column;
    --gap: 2.5rem;
    width: 16rem;
    height: 100vh;
    padding: 8rem 0 0 2.5rem;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
  }

  .navbar.active {
    transform: translateX(0);
  }
}

.nav-link > span {
  font-weight: 700;
  margin-right: 0.5rem;
}

/* Home */

.grid-container--home {
  padding-top: 8rem;
  gap: 4rem;
  background-image: url("images/home/background-home-mobile.jpg");
}

.grid-container--home main {
  flex-direction: column;
}

.home-title {
  white-space: nowrap;
}

.home-title span {
  margin-top: 1rem;
}

.explore-btn {
  background-color: hsl(var(--clr-white));
  padding-inline: 1.8rem;
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

@supports not (padding-inline: 1.5rem) {
  .explore-btn {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }
}

.explore-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(var(--clr-white) / 0.1036);
  z-index: -1;
  cursor: pointer;
  transition: transform 500ms ease-in-out;
}

@supports not (aspect-ratio: 1) {
  .explore-btn {
    width: 9.375rem;
    height: 9.375rem;
  }

  .explore-btn::after {
    height: 100%;
  }
}

.explore-btn:hover::after,
.explore-btn:focus::after {
  transform: translate(-50%, -50%) scale(1.6);
  z-index: -1;
}

/* Destination */
.grid-container--destination {
  background-image: url("images/destination/background-destination-mobile.jpg");
}

.destination-image,
.destination-image img {
  width: 10.625rem;
  aspect-ratio: 1;
}

@supports not (aspect-ratio: 1) {
  .destination-image,
  .destination-image img {
    height: 10.625rem;
  }
}

.stats-box {
  margin-top: 2rem;
  flex-direction: column;
  --gap: 2rem;
}

.stats-box div {
  --flow-space: 0.5rem;
}

.stat {
  font-size: 1.75rem;
}

.destination-description {
  padding-bottom: 2rem;
  border-bottom: 1px solid;
  border-color: var(--decoration-line);
}

@media (max-width: 24em) {
  .grid-container--destination > .tablist {
    --gap: 0.5rem;
  }
}

.text-tab {
  margin-inline: 0.25rem;
}

@supports not (margin-inline: 0.25rem) {
  .text-tab {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
}

/* Crew */
.grid-container--crew {
  position: relative;
  z-index: 1;
}

.grid-container--crew::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("images/crew/background-crew-mobile.jpg");
  background-size: cover;
  filter: brightness(0.7);
  z-index: -1;
}

.crew-name {
  line-height: normal;
}

.crew-image img {
  width: 20.45rem;
  height: 14rem;
  object-fit: contain;
  border-bottom: 1px solid var(--decoration-line);
}

.crew-image#num0 img {
  object-position: 6rem 0;
}

.dot-tab {
  background-color: hsl(var(--clr-white) / 0.17);
  border-radius: 50%;
  width: 0.625rem;
  aspect-ratio: 1;
  padding: 0;
}

@supports not (aspect-ratio: 1) {
  .dot-tab {
    height: 0.625rem;
  }
}

.dot-tab:hover,
.dot-tab:focus {
  background-color: hsl(var(--clr-white) / 0.5);
}

.dot-tab.active {
  background-color: hsl(var(--clr-white));
}

.crew-role {
  color: hsl(var(--clr-white) / 0.49);
}

/* Technology */
.grid-container--technology {
  background-image: url("images/technology/background-technology-mobile.jpg");
  padding-inline: 0;
}

@supports not (padding-inline: 0) {
  .grid-container--technology {
    padding-left: 0;
    padding-right: 0;
  }
}

.grid-container--technology article {
  padding-inline: 1.5rem;
}

@supports not (padding-inline: 1.5rem) {
  .grid-container--technology article {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.technology-image img {
  width: 100vw;
  height: 10.625rem;
  object-fit: contain;
  scrollbar-gutter: stable;
  position: relative;
}

.number-tab {
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid hsl(var(--clr-white) / 0.25);
  background-color: transparent;
  color: hsl(var(--clr-white));
}

@supports not (aspect-ratio: 1) {
  .number-tab {
    height: 2.5rem;
  }
}

.number-tab:hover,
.number-tab:focus {
  border: 1px solid hsl(var(--clr-white) / 1);
}

.number-tab.active {
  background-color: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
}

/* --------------------------- */
/*             RWD             */
/* --------------------------- */

@media (min-width: 35em) {
  :root {
    /* font-sizes */
    --fs-900: 9.375rem;
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 2rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
    --fs-300: 1rem;

    /* letter-spacing */
    --ls-500: 0.211rem;
    --ls-300: 0.169rem;

    /* line-height */
    --lh-400: 1.75;
  }

  .grid-container--destination,
  .grid-container--crew,
  .grid-container--technology {
    padding-inline: 2.4375rem;
    grid-template-areas:
      "title title title"
      "image image image"
      ". tabs ."
      ". article .";
    grid-template-columns: 1fr 83% 1fr;

    padding-top: 8.5rem;
  }

  @supports not (padding-inline: 2.4375rem) {
    .grid-container--destination,
    .grid-container--crew,
    .grid-container--technology {
      padding-left: 2.4375rem;
      padding-right: 2.4375rem;
    }
  }

  .numbered-title {
    grid-area: title;
    justify-self: start;
  }

  .destination-image,
  .crew-image,
  .technology-image {
    grid-area: image;
  }

  article {
    grid-area: article;
  }

  .tablist {
    grid-area: tabs;
  }

  .destination-description {
    padding-bottom: 2.5rem;
  }

  /* navigation section */
  .top-section {
    padding-left: 2.4375rem;
    align-items: center;
  }

  .logo {
    width: 3rem;
    padding: 0;
  }

  .navbar {
    flex-direction: row;
    padding: 2.4rem;
    --gap: 3rem;
  }

  .nav-btn {
    display: none;
  }

  .nav-link {
    padding-bottom: 2.4rem;
  }

  .nav-link span {
    display: none;
  }

  /* Home */

  .grid-container--home {
    background-image: url("images/home/background-home-tablet.jpg");
    grid-template-areas:
      ". main ."
      ". button .";
    grid-template-columns: 1fr 65% 1fr;
  }

  .grid-container--home main {
    padding-inline: 0.5rem;
    align-self: end;
    grid-area: main;
  }

  .grid-container--home main p {
    padding-inline: 0.5rem;
  }

  @supports not (padding-inline: 0.5rem) {
    .grid-container--home main,
    .grid-container--home main p {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  .explore-btn {
    width: 15.125rem;
    grid-area: button;
  }

  @supports not (aspect-ratio: 1) {
    .explore-btn {
      height: 15.125rem;
    }
  }

  /* Destination */
  .grid-container--destination {
    background-image: url("images/destination/background-destination-tablet.jpg");
  }

  .destination-image,
  .destination-image img {
    width: 18.75rem;
  }

  @supports not (aspect-ratio: 1) {
    .destination-image,
    .destination-image img {
      height: 18.75rem;
    }
  }

  .stats-box {
    flex-direction: row;
    justify-content: space-evenly;
  }

  /* Crew */
  .grid-container--crew {
    grid-template-areas:
      "title title title"
      ". article . "
      ". tabs ."
      ". image .";
    padding-bottom: 0;
  }

  .grid-container--crew::before {
    background-image: url("images/crew/background-crew-tablet.jpg");
  }

  .grid-container--crew article {
    padding-inline: 2.5rem;
  }

  @supports not (padding-inline: 2.5rem) {
    .grid-container--crew article {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }

  .crew-image {
    height: 100%;
  }
  .crew-image img {
    height: 100%;
    width: 80%;
    object-fit: contain;
    object-position: bottom center;
    padding-block: 0.5rem 0;
    justify-self: center;
  }

  @supports not (padding-block: 0.5rem 0) {
    .crew-image img {
      padding-top: 0.5rem;
      padding-bottom: 0;
    }
  }

  .crew-image#num0 img {
    object-position: 1.5rem 0;
  }

  /* Technology */
  .grid-container--technology {
    padding-inline: 0;
    background-image: url("images/technology/background-technology-tablet.jpg");
  }

  @supports not (padding-inline: 0) {
    .grid-container--technology {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .grid-container--technology h1 {
    margin-left: 2.4375rem;
  }

  .technology-image img {
    height: auto;
    width: 100vw;
  }

  .grid-container--technology article {
    padding-inline: 4rem;
  }

  @supports not (padding-inline: 4rem) {
    .grid-container--technology article {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }

  .number-tab {
    width: 3.75rem;
  }
}

@media (min-width: 55em) {
  :root {
    /* font-sizes */
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    /* letter-spacing */
    --ls-500: 0.295rem;

    /* line-height */
    --lh-400: 2;
  }

  article {
    text-align: left;
  }

  .grid-container {
    padding-block: 0;
    overflow-y: hidden;
  }

  @supports not (padding-block: 0) {
    .grid-container {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .grid-container--destination,
  .grid-container--crew,
  .grid-container--technology {
    grid-template-columns: 5.5rem 1fr 1fr 5.5rem;
    grid-template-rows: auto auto 70%;
    padding-block: clamp(12rem, 25vh, 13.25rem) 6.75rem;
  }

  @supports not (padding-block: clamp(12rem, 25vh, 13.25rem) 6.75rem) {
    .grid-container--destination,
    .grid-container--crew,
    .grid-container--technology {
      padding-top: clamp(12rem, 25vh, 13.25rem);
      padding-bottom: 6.75rem;
    }
  }

  .tablist {
    justify-content: flex-start;
  }

  .crew-name,
  .technology-name {
    white-space: nowrap;
  }

  /* navigation section */

  .top-section {
    top: 2.5rem;
    padding-left: 2.5rem;
  }

  .top-section::after {
    content: "";
    position: relative;
    left: 2.5rem;
    width: 100%;
    height: 1px;
    background: var(--decoration-line);
    order: 2;
  }

  .navbar {
    padding-inline: 10rem 12rem;
    order: 3;
  }

  @supports not (padding-inline: 10rem 12rem) {
    .navbar {
      padding-left: 10rem;
      padding-right: 12rem;
    }
  }

  .nav-link span {
    display: inherit;
  }

  /* Home */

  .grid-container--home {
    background-image: url("images/home/background-home-desktop.jpg");
    background-position: right;
    grid-template-areas: ". main button.";
    grid-template-columns: 2.5rem 40% 40% 1fr;
    padding-bottom: 6.75rem;
  }

  .grid-container--home main {
    justify-self: start;
    text-align: left;
    padding-right: 4.5rem;
  }

  .explore-btn {
    width: 17.125rem;
    justify-self: end;
    align-self: end;
  }

  /* Destination */

  .grid-container--destination {
    background-image: url("images/destination/background-destination-desktop.jpg");
  }

  .grid-container--destination {
    grid-template-areas:
      ". title  title ."
      ". image tabs ."
      ". image article .";
    grid-template-rows: min-content min-content minmax(min-content, 1fr);
  }

  .grid-container--destination .tablist,
  .grid-container--destination article {
    padding-inline: 1.5rem;
  }

  @supports not (padding-inline: 1.5rem) {
    .grid-container--destination .tablist,
    .grid-container--destination article {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  .destination-image,
  .destination-image img {
    width: clamp(20rem, 45vh, 27.81rem);
  }

  @supports not (aspect-ratio: 1) {
    .destination-image,
    .destination-image img {
      height: clamp(20rem, 45vh, 27.81rem);
    }
  }

  .stats-box {
    justify-content: flex-start;
    --gap: 5rem;
  }

  /* Crew */
  .grid-container--crew {
    grid-template-areas:
      ". title  title . "
      ". article image  ."
      ". tabs image .";
    grid-template-rows: auto auto auto;
    grid-template-columns: 5.5rem 45% 30% 1fr;
    padding-bottom: 0;
  }

  .grid-container--crew::before {
    background-image: url("images/crew/background-crew-desktop.jpg");
  }

  .grid-container--crew article {
    padding-inline: 0;
  }

  @supports not (padding-inline: 0) {
    .grid-container--crew article {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .grid-container--crew .tablist {
    align-self: start;
    --gap: 1.5rem;
  }

  .crew-image {
    height: 70vh;
    width: 100%;
    align-self: start;
  }

  .crew-image source {
    display: none;
  }

  .crew-image img {
    width: 100%;
    padding: 0;
    align-self: start;
  }

  .crew-bio {
    padding-right: 5.5rem;
  }

  .dot-tab {
    width: 0.94rem;
    height: 0.94rem;
  }

  /* Technology */
  .grid-container--technology {
    background-image: url("images/technology/background-technology-desktop.jpg");
    grid-template-areas:
      ". title title title"
      ". tabs article image"
      ". . . image";
    grid-template-columns: 5.5rem 5rem 1fr 1fr;
    grid-template-rows: auto min-content 5rem;
    align-items: start;
    padding-inline: 2.4375rem 0;
  }

  @supports not (padding-inline: 2.4375rem 0) {
    .grid-container--technology {
      padding-left: 2.4375rem;
      padding-right: 0;
    }
  }

  .grid-container--technology h1 {
    margin-left: 0;
  }

  .grid-container--technology .tablist {
    flex-direction: column;
    --gap: 3rem;
    padding: 0;
  }

  .grid-container--technology .tablist,
  .grid-container--technology article {
    margin-top: 3rem;
    padding-inline: 0;
  }

  @supports not (padding-inline: 0) {
    .grid-container--technology .tablist,
    .grid-container--technology article {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .grid-container--technology article {
    padding-inline: 2rem;
  }

  @supports not (padding-inline: 2rem) {
    .grid-container--technology article {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  .technology-description {
    padding-right: 1.5rem;
    height: 25ex;
  }

  .technology-image {
    justify-self: end;
  }

  .technology-image img {
    width: 32.1875rem;
    height: 32.9375rem;
    object-fit: contain;
    margin-top: -3rem;
  }

  .number-tab {
    width: 5rem;
  }
}
